.EventBooking {
    margin: 1rem 0 .5rem;
    font-size: .9rem;
    border-top: 1px solid var(--dark-red);
    padding-top: .6rem;
}
.Heading {
    font-size: 1rem;
    margin: 0 0 .5rem;
    color: var(--dark-red)
}
.Booked {
    font-weight: 700
}
.AvailableSlots {
    font-size: 1rem;
    margin-left: .5rem;
}
.YouAreBooked, .GameSlots, .YouAreOverBooked {
    font-style: italic;
    font-weight: 400;
}
.PlayersListHeader {
    margin: .8rem 0 0;
    font-size: 1rem;
}
.PlayersList {
    margin: .5rem 0;
    padding: 0 0 0 1.4rem;
}
.PlayersListItem {

}