.Button {
    background-color: var(--mid-teal);
    border: 1px solid var(--blue-black);
    border-radius: 4px;
    color: var(--off-white);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: .4rem .7rem .5rem;
    font-weight: bold;
    display: inline-block;
    transition: all .5s;
    margin: .5rem 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Danger {
    background: var(--bright-red);
    color: var(--off-white);
}

.White {
    color: #ffffff;
}
.Gray {
    background-color: var(--mid-gray);
}
@media (hover: hover) {
    .Button:hover {
        background-color: var(--dark-teal);
    }
    .Danger:hover {
        background: var(--red);
        color: var(--off-white);
    }
}