.Button {
    background-color: var(--teal);
    border: 1px solid var(--blue-black);
    border-radius: 4px;
    color: var(--blue-black);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: .4rem .7rem .5rem;
    font-weight: bold;
    display: inline-block;
    transition: all .5s;
    margin: .8rem 0;
}

.Button:hover {
    background-color: var(--light-teal);
    color: #000;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
.White {
    color: #ffffff;
}
.Gray {
    background-color: var(--gray);
}