
.AccountInfo {
    padding: 1rem 5%;
    width: 100%;
    margin: 0 auto;
    background: var(--blue-gray);
    display: flex;
    font-size: .9rem;
}

.UserInfoWrapper {
    flex: 1 1 auto;
}
.LogOutWrapper {
    flex: 0 0 8rem;
    text-align: right;
}

.Name {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.795);
    margin: 0 0 .2rem;
}
.Nickname {
    font-size: 1.0rem;
    color: rgba(255, 255, 255, 0.562);
    padding-left: .5rem;
}