
.EventDetails {
    line-height: 130%;
}
.Description {
    margin-bottom: 1rem;
    font-size: .9rem;
    max-width: 45rem;
    line-height: 130%;
}
.Description img {
    max-width: 100%;
    height: auto;
}
.Meta, .SafetyTools, .Maturity, .EventRoom {
    margin-top: .5rem;
    font-size: .9rem;
}
.Meta, .Maturity {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.Meta > span, .Maturity > span {
    margin: .2rem 1rem 0 0;
}

.CategoryTag::after {
    content: '·';
    margin: 0 .2rem
}

.CategoryTag:last-child::after {
    content: '';
}