
.EventDetails {
    line-height: 130%;
}
.Description {
    margin-bottom: 1rem;
    font-size: .9rem;
    max-width: 45rem;
}
.Description img {
    max-width: 100%;
    height: auto;
}
.Meta, .SafetyTools, .Maturity, .EventRoom {
    margin-top: .5rem;
    font-size: .9rem;
}
.Meta span, .SafetyTools span, .Maturity span {
    margin-right: 1rem;
}