.Eventsfilter {
    display: flex;
    padding: .5rem 0;
    border-bottom: 1px solid var(--blue-gray);
}
.Panel {
    padding: 0 1rem 0 0;
    line-height: .5rem;
}
.Panel:last-child {
    padding: 0;
}
.PanelLabel {
    margin: 0 .3rem .5rem 0 ;
    display: inline-block;
    font-size: .9rem;
}
.PanelLabel::after {
    content: ":"
}
.FilterButton {
    font-size: .9rem;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
.FilterButton::after {
    content: "\2027";
    font-size: 1rem;
    font-weight: 700;
    margin: 0 .25rem;
    color: #000;
}
@media (hover: hover) {
    .FilterButton:hover {
        color: var(--dark-red)
    }    
}

.FilterButton:last-child::after {
    content: "";
}

.FilterButton.On {
    color: var(--red);
}

.Name {
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    display: inline-block;
}
.FilterButton.On .Name {
    border-bottom: 1px solid var(--putty);
    display: inline-block;
}

.PanelIcon, .BtnIcon {
    height: 14px;
    width: auto;
    margin-right: .3rem;
    position: relative;
    top: 2px;
}

.FilterButton.On .BtnIcon path {
    fill: var(--red);
}

