.Eventsfilter {
    display: flex;
}
.Panel {
    padding: 0 0 .5rem;
    line-height: .5rem;
}
.PanelLabel {
    margin: 0 .3rem .5rem 0 ;
    display: inline-block;
    font-size: .9rem;
    line-height: .5rem;
}
.PanelLabel::after {
    content: ":"
}
.FilterButton {
    font-size: .9rem;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
.FilterButton::after {
    content: "\2027";
    font-size: 1rem;
    font-weight: 700;
    margin: 0 .25rem;
    color: #000;
}

.FilterButton:hover {
    color: var(--dark-red)
}

.FilterButton:last-child::after {
    content: "";
}
.FilterButton:focus {
    outline: 0;
}
.FilterButton.On {
    color: #b90e0e;
}
.FilterButton.Favs::before {
    content: " ";
    width: 16px;
    height: 16px;
    margin-right: .3rem;
    display: inline-block;
    position: relative;
    bottom: -2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath d='M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}