
@value variables: "../../styles/variables.css";
@value _menuwidth from variables;

.Event {
    position: relative;
    margin: .5rem 0;
    border: 1px solid transparent;
    border-radius: 3px;
}
.Eventsummary {
    padding: .5rem 5rem .5rem .6rem;
    cursor: pointer;
    border-radius: 3px;
}
.Eventsummary:hover {
    background: var(--dark-tan);
}
.MyEvent {
    background: var(--dark-red) !important;
    color: var(--off-white) !important;
}
.MyEvent .Title {
    color: var(--off-white) !important;
}
.MyEvent:hover {
    background: var(--red);
}

.Active {
    border: 1px solid var(--dark-red);
}
.Active .Eventsummary {
    background: var(--dark-tan);
}

.Details {
    background: var(--light-tan);
    padding: .5rem .5rem .5rem .6rem;
    border-radius: 3px;
}

.Title { 
    font-weight: 700;
    color: var(--red)
}
.Description {
    margin: 1rem 0 0;
}
.FavStarWrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    height: 100%;
    padding-left: 10px;
}

.FavStar {
    cursor: pointer;
}
.FavStar path {
    stroke: #000;
    fill: #000;
}
.FavStar:hover path {
    fill: var(--off-white);
}

.FavStarActive path {
    fill: var(--yellow);
}
.FavStarActive:hover path {
    fill: #555;
}

@media only screen and (min-width: _menuwidth) {
    .Eventsummary {
        display: flex;
        justify-content: flex-end;
    }
    .TitleColumn {
        flex: 1 1 auto;
        padding-right: 1rem;
    }
    .TimeColumn {
        width: 10rem;
        flex: 0 0 auto;
    }
}