
@value variables: "../../styles/variables.css";
@value _menuwidth from variables;

.Event {
    padding: .5rem;
    cursor: pointer;
    position: relative;
}
.Eventsummary {
    margin-right: 30px;
}

.Active {
    background: #eee;
}
.Title { 
    font-weight: 700;
}
.Description {
    margin: 1rem 0 0;
}
.FavStarWrapper {
    position: absolute;
    top: 5px;
    right: 5px;
}

.FavStarActive path {
    fill: var(--yellow);
    stroke: #000;
}

@media only screen and (min-width: _menuwidth) {
    .Eventsummary {
        display: flex;
        justify-content: flex-end;
    }
    .TitleColumn {
        flex: 1 1 auto;
        padding-right: 1rem;
    }
    .TimeColumn {
        width: 10rem;
        flex: 0 0 auto;
    }
}