
@value variables: "../../styles/variables.css";
@value _menuwidth from variables;

.Event {
    padding: .5rem;
    cursor: pointer;
}
.Eventsummary {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Active {
    background: #eee;
}

.Title {
    font-weight: 700;
    flex: 1 1 auto;
    padding-right: 1rem;
}

.Date {
    width: 7rem;
    flex: 0 0 auto;
    padding-right: 1rem;
}

.Time {
    width: 10rem;
    flex: 0 0 auto;
}
.Description {
    margin: 1rem 0 0;
}
@media only screen and (min-width: _menuwidth) {
    .Eventsummary {
        flex-direction: row;
    }
}