@value variables: "../../styles/variables.css";
@value _menuwidth from variables;

.Navbar {
    background: #333;
    color: #fff;
    padding: 0px 0px 15px 20px;
    height: 55px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
}
.Title {
    margin: 0;
    padding: 17px 0;
    font-size: 20px;
}

.NavWrapper {
    display: none;
}

.LogoWrapper {
    flex: 0 0 auto;
    min-width: 8rem;
}
.LogoImg {
    height: 52px;
    width: auto;
}
.Login {
    flex: 2 1 auto;
}

.AuthPanel {
    position: fixed;
    top: 55px;
    background: #555;
    z-index: 99;
    width: 100%;
    border: 1px solid #333;
}

@media only screen and (min-width: _menuwidth) {
    .NavWrapper {
        display: block;
        padding-right: 1rem;
    }
}