@value variables: "../../styles/variables.css";
@value _menuwidth from variables;

.Navbar {
    background: #333;
    color: #fff;
    padding: 0px 0px 15px 20px;
    height: 55px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
}
.Title {
    margin: 0;
    padding: 17px 0;
    font-size: 20px;
}

.NavWrapper {
    display: none;
}

.LogoWrapper {
    flex: 1 1 auto;
    min-width: 8rem;
}
.LogoutWrapper {
    flex: 2 1 auto;
}

.LogoutButton {
    background: #444;
    padding: .2rem .4rem .4rem .4rem;
    border: 1px solid #aaa;
    color: #fff;
    margin: .9rem 3rem .5rem 1rem;
    cursor: pointer;
    font-size: .9rem;
}

@media only screen and (min-width: _menuwidth) {
    .NavWrapper {
        display: block;
        padding-right: 1rem;
    }
}