.MyBookingsListItem {
    list-style: none;
    margin: .5rem 0;
    padding: 0;
    color: #dddddd;
}
.MyBookingsListItem::before {
    content: '•';
    padding-right: .3rem;
    color: var(--teal)
}
.Owner {
    margin-left: 1rem;
}