.MyBookingsListItem {
    list-style: none;
    margin: .5rem 0;
    padding-left: 1.2rem;
    color: #dddddd;
    position: relative;
    line-height: 130%;
}
.MyBookingsListItem::before {
    content: '•';
    position: absolute;
    left: .4rem;
    color: var(--teal)
}
.Owner {
    margin-left: 1rem;
    font-style: italic;
}
.EventName {
    font-weight: 700;
    color: #ffffff;
}
.Room {
    display: block;
    font-size: .9rem
}

.Time, .Date {
    display: inline-block;
    margin-right: 1rem;
    font-size: .9rem
}