.Navitem {
    margin: 0;
    padding: 0;
    list-style: none;
}
.Navitem a {
    color: var(--off-white);
    text-decoration: none;
    margin: .6rem 0 0 .2rem;
    padding: .5rem .5rem;
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    font-size: 1.1rem;
}