.Post {
    margin: 2rem 0;
    cursor: pointer;
    transition: 1s all;
}

.PostTitle {
    margin: 0 0 .5rem;
    color: var(--dark-red);
}

.Content > * {
    margin-top: 0;
}

.Content img {
    max-width: 100%;
    height: auto;
}

.Content :global(.alignright) {
    float: left;
    margin: 0 1rem 1rem 0;
}