.CountdownClock {
    margin: 1rem 0;
}

.CountdownHeader {
    font-size: 1rem;
    margin: 0 .5rem 0 0;
    display: inline-block;
}
.Date {
    display: inline-block;
    margin: .5rem .5rem .5rem 0;
    color: var(--navy-blue);
}
.CountdownWrapper {
    padding: .3rem .6rem .4rem;
    border: 1px solid var(--navy-blue);
    border-radius: 4px;
    background: var(--light-teal);
    color: var(--navy-blue);
    display: inline-block;
    width: 8rem;
    text-align: center;
}